In [1]:
import pandas as pd

# Load your original dataset (make sure to update the file path)
df = pd.read_csv('final_processed_dataset.csv')

# Convert 'date_time' column to datetime and extract the date, day, and month
df['date'] = pd.to_datetime(df['date_time']).dt.date
df['day'] = pd.to_datetime(df['date_time']).dt.day
df['month'] = pd.to_datetime(df['date_time']).dt.month

# Group by 'date' to aggregate daily data
daily_aggregated_df = df.groupby(['date', 'day', 'month']).agg({
    'precipMM': 'sum',           # Sum of precipitation over 24 hours
    'humidity': 'mean',          # Mean humidity over the day
    'maxtempC': 'max',           # Maximum temperature of the day
    'mintempC': 'min',           # Minimum temperature of the day
    'DewPointC': 'mean',         # Mean DewPoint over the day
    'WindGustKmph': 'mean',      # Mean wind gust speed over the day
    'cloudcover': 'mean',        # Mean cloud cover over the day
    'pressure': 'mean',          # Mean pressure over the day
    'visibility': 'mean',        # Mean visibility over the day
    'windspeedKmph': 'mean'      # Mean wind speed over the day
}).reset_index()

# Save the aggregated dataset to a new CSV file
daily_aggregated_df.to_csv('daily_aggregated_dataset_with_day_month.csv', index=False)

print("Dataset saved successfully!")

Dataset saved successfully!

In [2]:
daily_aggregated_df.head()

,date,day,month,precipMM,humidity,maxtempC,mintempC,DewPointC,WindGustKmph,cloudcover,pressure,visibility,windspeedKmph
0,2008-12-11,11,12,0.0,55.708333,30,18,14.458333,8.625000,23.958333,1012.625000,10.0,4.291667
1,2008-12-12,12,12,0.0,57.791667,30,21,16.041667,9.083333,16.833333,1011.708333,10.0,4.333333
2,2008-12-13,13,12,0.0,52.875000,30,21,14.750000,12.625000,9.250000,1013.541667,10.0,6.833333
3,2008-12-14,14,12,0.0,51.500000,30,19,13.458333,14.833333,3.333333,1014.250000,10.0,7.458333
4,2008-12-15,15,12,0.0,50.625000,30,18,12.916667,16.083333,5.666667,1013.458333,10.0,7.750000

In [3]:
daily_aggregated_df.tail()

,date,day,month,precipMM,humidity,maxtempC,mintempC,DewPointC,WindGustKmph,cloudcover,pressure,visibility,windspeedKmph
4834,2022-03-07,7,3,0.0,24.083333,35,23,7.041667,14.500000,5.083333,1009.875000,10.0,7.333333
4835,2022-03-08,8,3,0.0,25.875000,35,23,8.541667,15.333333,7.166667,1009.958333,10.0,6.958333
4836,2022-03-09,9,3,1.3,32.541667,35,22,10.625000,15.833333,26.708333,1010.250000,10.0,7.958333
4837,2022-03-10,10,3,0.0,31.666667,33,22,10.375000,13.125000,13.166667,1010.875000,10.0,8.125000
4838,2022-03-11,11,3,0.0,28.708333,35,23,9.708333,12.750000,18.250000,1010.333333,10.0,7.958333